<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>icon</title>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='icon/icon.css') }}"/>
  </head>
  <body>
    <ul>
      <li>
        <ion-icon name="logo-github"></ion-icon><span class="title">Github</span>
      </li>
      <li>
        <ion-icon name="logo-facebook"></ion-icon><span class="title">Facebook</span>
      </li>
      <li>
        <ion-icon name="logo-instagram"></ion-icon><span class="title">Instagram</span>
      </li>
      <li>
        <ion-icon name="logo-twitter"></ion-icon><span class="title">twitter</span>
      </li>
    </ul>
  </body>
</html>